<div class="create-list">
  <div class="create-list__icon"
       (click)="createNewList()">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>
  <span class="create-list__title">
      Создать список
    </span>
</div>
<form #newListForm="ngForm" class="create-list-form"
      *ngIf="isShown === true"
      (ngSubmit)="Submit(box.value)">
  <input class="create-list__input" type="text"
         placeholder="Название Списка"
         name="create" #box required
         autofocus
         id="name">
  <div class="create-list__buttons">
    <input type="submit" class="btn btn-success"  value="Создать"
           [disabled]="!newListForm.form.valid">
    <input type="button" class="btn btn-default" value="Отмена"
           (click)="isShown = false">
  </div>
</form>
