.tasks {
  &-executed {
    width: calc((100vw - 300px) / 2.2);
    margin: 10px;
    &__title {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 1rem;
      background: white;
      padding: 14px;
    }
  }
}
.executed {
  &-list {
    &__item {
      list-style: none;
      border: 2px solid white;
      padding: 10px;
      background: white;
      margin: 10px;
      & > .material-icons {
        position: absolute;
        top: 8rem;
        right: 5rem;
        opacity: 0.2;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }
}